[Unit]
Description=gunicron instance to server api
After=network.target

[Service]
User=travis
Group=travis
WorkingDirectory=/home/travis/app/src/
Environment="PATH=/home/travis/app/venv/bin"
EnvironmentFile=/home/travis/.env
ExecStart=/home/travis/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target
